{% include 'base.html' %}
{% load static %}

{% block content %}
<nav class="u-align-left u-menu u-menu-hamburger u-offcanvas u-menu-1" data-responsive-from="XL">
    <div class="menu-collapse" style="font-size: 1rem; letter-spacing: 0px; font-weight: 500; text-transform: uppercase;">
        <a class="u-button-style u-custom-active-border-color u-custom-active-color u-custom-border u-custom-border-color u-custom-borders u-custom-hover-border-color u-custom-hover-color u-custom-left-right-menu-spacing u-custom-padding-bottom u-custom-text-active-color u-custom-text-color u-custom-text-hover-color u-custom-top-bottom-menu-spacing u-nav-link" href="#" style="padding: 1px 0px; font-size: calc(1em + 2px);">
            <svg class="u-svg-link" preserveAspectRatio="xMidYMin slice" viewBox="0 0 302 302" style="">
                <use xlink:href="#svg-8a8f"></use>
            </svg>
            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="svg-8a8f" x="0px" y="0px" viewBox="0 0 302 302" style="enable-background:new 0 0 302 302;" xml:space="preserve" class="u-svg-content">
                <g><rect y="36" width="302" height="30"></rect><rect y="236" width="302" height="30"></rect><rect y="136" width="302" height="30"></rect></g>
                <g></g>
                <g></g>
                <g></g>
                <g></g>
                <g></g>
                <g></g>
                <g></g>
                <g></g>
                <g></g>
                <g></g>
                <g></g>
                <g></g>
                <g></g>
                <g></g>
                <g></g>
            </svg>
        </a>
    </div>
    <div class="u-custom-menu u-nav-container">
        <ul class="u-nav u-spacing-2 u-unstyled u-nav-1">
            <li class="u-nav-item"><a class="u-active-grey-5 u-border-active-palette-1-base u-border-hover-palette-1-base u-button-style u-hover-grey-10 u-nav-link u-text-active-grey-90 u-text-body-alt-color u-text-hover-grey-90" href="#" style="padding: 10px 20px;">Page 4</a></li>
            <li class="u-nav-item"><a class="u-active-grey-5 u-border-active-palette-1-base u-border-hover-palette-1-base u-button-style u-hover-grey-10 u-nav-link u-text-active-grey-90 u-text-body-alt-color u-text-hover-grey-90" href="#" style="padding: 10px 20px;">Page 7</a>
            </li>
        </ul>
    </div>
    <div class="u-custom-menu u-nav-container-collapse">
        <div class="u-align-center u-black u-container-style u-inner-container-layout u-opacity u-opacity-95 u-sidenav">
            <div class="u-inner-container-layout u-sidenav-overflow">
                <div class="u-menu-close"></div>
                <ul class="u-align-center u-nav u-popupmenu-items u-unstyled u-nav-2">
                    <li class="u-nav-item"><a class="u-button-style u-nav-link" href="#" style="padding: 10px 20px;">Page 4</a></li>
                </ul>
            </div>
        </div>
        <div class="u-black u-menu-overlay u-opacity u-opacity-70"></div>
    </div>
</nav>
<section class="u-align-center u-clearfix u-palette-1-base u-section-1" id="sec-f60b">
    <div class="u-clearfix u-sheet u-sheet-1">
        <div class="u-absolute-hcenter-xs u-expanded-height-lg u-expanded-height-md u-expanded-height-xl u-expanded-height-xs u-palette-4-light-1 u-shape u-shape-rectangle u-shape-1"></div>
        <img class="u-image u-image-1" src="{% static 'images/dfsfdsf.jpg' %}" data-image-width="1200" data-image-height="900">
        <div class="u-align-left u-container-style u-group u-white u-group-1">
            <div class="u-container-layout u-valign-top u-container-layout-1">
                <h3 class="u-text u-text-palette-1-base u-text-1" spellcheck="false">Fully Documented Website</h3>
                <p class="u-text u-text-2">Quis viverra nibh cras pulvinar mattis nunc sed. Lacus sed turpis tincidunt
                    id aliquet risus feugiat in.&nbsp; Auctor augue mauris augue neque gravida in fermentum et. Feugiat
                    in fermentum <a href="#"
                                    class="u-border-1 u-border-black u-border-no-left u-border-no-right u-border-no-top u-btn u-button-link u-button-style u-none u-text-body-color u-btn-1">posuere</a>
                    urna.
                </p>
                <p class="u-align-left u-text u-text-3">Image from <a href="https://www.freepik.com/vectors/technology"
                                                                      class="u-border-1 u-border-black u-border-no-left u-border-no-right u-border-no-top u-btn u-button-link u-button-style u-none u-text-body-color u-btn-2"
                                                                      target="_blank">Freepik</a>
                </p>
                <a href="#"
                   class="u-active-palette-4-light-1 u-btn u-btn-round u-button-style u-hover-palette-4-light-1 u-palette-1-base u-radius-50 u-text-active-palette-1-base u-text-body-alt-color u-text-hover-palette-1-base u-btn-3">learn
                    more</a>
            </div>
        </div>
        <div class="u-shape u-shape-circle u-white u-shape-2"></div>
    </div>
</section>
<section class="u-align-center u-clearfix u-palette-1-base u-valign-middle-sm u-valign-middle-xs u-section-2"
         id="carousel_e21f">
    <h4 class="u-text u-text-palette-1-light-2 u-text-1">Features</h4>
    <h1 class="u-text u-text-2" spellcheck="false">Easy Of Use&nbsp;</h1>
    <div class="u-expanded-width u-palette-4-light-1 u-shape u-shape-rectangle u-shape-1"></div>
    <div class="u-list u-list-1">
        <div class="u-repeater u-repeater-1">
            <div class="u-align-center u-container-style u-list-item u-repeater-item u-shape-rectangle u-white u-list-item-1">
                <div class="u-container-layout u-similar-container u-container-layout-1">
                    <img src="{% static 'images/coding.png' %}" alt="" class="u-image u-image-default u-image-1" data-image-width="512"
                         data-image-height="512">
                    <h4 class="u-text u-text-palette-1-base u-text-3">Code Snippets</h4>
                    <p class="u-text u-text-palette-1-base u-text-4">Pretium lectus quam id leo in vitae turpis. Mattis
                        pellentesque id nibh tortor id.</p>
                </div>
            </div>
            <div class="u-align-center u-container-style u-list-item u-repeater-item u-shape-rectangle u-video-cover u-white u-list-item-2">
                <div class="u-container-layout u-similar-container u-container-layout-2">
                    <img src="{% static 'images/brief.png' %}" alt="" class="u-image u-image-default u-image-2" data-image-width="512"
                         data-image-height="512">
                    <h4 class="u-text u-text-palette-1-base u-text-5">Detailed Brief</h4>
                    <p class="u-text u-text-palette-1-base u-text-6"> Nunc consequat interdum varius sit amet mattis
                        vulputate enim nulla. Risus feugiat.</p>
                </div>
            </div>
            <div class="u-align-center u-container-style u-list-item u-repeater-item u-shape-rectangle u-video-cover u-white u-list-item-3">
                <div class="u-container-layout u-similar-container u-container-layout-3">
                    <img src="{% static 'images/1.jpg' %}" alt="" class="u-image u-image-contain u-image-default u-image-3"
                         data-image-width="900" data-image-height="878">
                    <h4 class="u-text u-text-palette-1-base u-text-7">Desktop App</h4>
                    <p class="u-text u-text-palette-1-base u-text-8">Nisl purus in mollis nunc sed id semper. Rhoncus
                        aenean vel elit scelerisque mauris.</p>
                </div>
            </div>
        </div>
    </div>
    <a href="#"
       class="u-active-white u-border-0 u-btn u-btn-round u-button-style u-hover-white u-palette-4-light-1 u-radius-50 u-text-active-palette-1-base u-text-hover-palette-1-base u-text-palette-1-base u-btn-1">learn
        more</a>
</section>
<section class="u-align-center-lg u-align-center-md u-align-center-sm u-align-center-xs u-clearfix u-palette-1-base u-valign-middle-lg u-valign-middle-md u-valign-middle-sm u-valign-middle-xl u-section-3" id="sec-a2e8">
    <div class="u-palette-4-light-1 u-shape u-shape-rectangle u-shape-1"></div>
    <div class="u-clearfix u-layout-wrap u-layout-wrap-1">
        <div class="u-layout">
            <div class="u-layout-row">
                <div class="u-container-style u-layout-cell u-size-60 u-layout-cell-1">
                    <div class="u-container-layout u-valign-top u-container-layout-1">
                        <h2 class="u-text u-text-1" spellcheck="false">Desktop Application</h2>
                        <img src="{% static 'images/1055-Converted.jpg' %}" alt=""
                             class="u-expanded-width u-image u-image-default u-image-1" data-image-width="1980"
                             data-image-height="1320">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="u-list u-list-1">
        <div class="u-repeater u-repeater-1">
            <div class="u-container-style u-list-item u-repeater-item">
                <div class="u-container-layout u-similar-container u-container-layout-2">
                    <h3 class="u-text u-text-2">01. About</h3>
                    <p class="u-text u-text-3">Sample text. Click to select the text box. Click again or double click to
                        start editing the text.</p>
                    <a href="#"
                       class="u-active-none u-border-2 u-border-no-left u-border-no-right u-border-no-top u-border-white u-btn u-button-style u-hover-none u-none u-text-active-palette-2-light-3 u-text-body-alt-color u-text-hover-palette-3-light-3 u-btn-1">more</a>
                </div>
            </div>
            <div class="u-container-style u-list-item u-repeater-item">
                <div class="u-container-layout u-similar-container u-container-layout-3">
                    <h3 class="u-text u-text-4">02. Cloud</h3>
                    <p class="u-text u-text-5">Sample text. Click to select the text box. Click again or double click to
                        start editing the text.</p>
                    <a href="#"
                       class="u-active-none u-border-2 u-border-no-left u-border-no-right u-border-no-top u-border-white u-btn u-button-style u-hover-none u-none u-text-active-palette-2-light-3 u-text-body-alt-color u-text-hover-palette-3-light-3 u-btn-2">more<span
                            class="u-text-body-alt-color"></span>
                        <span class="u-text-body-alt-color"></span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="u-clearfix u-color-scheme-u10 u-color-style-multicolor-1 u-palette-4-light-1 u-section-4" id="sec-d871">
    <div class="u-clearfix u-sheet u-valign-middle u-sheet-1">
        <div class="u-clearfix u-expanded-width u-layout-wrap u-layout-wrap-1">
            <div class="u-layout">
                <div class="u-layout-row">
                    <div class="u-align-center-sm u-align-center-xs u-align-left-lg u-align-left-md u-align-left-xl u-container-style u-layout-cell u-left-cell u-size-42 u-layout-cell-1">
                        <div class="u-container-layout u-valign-middle u-container-layout-1">
                            <h3 class="u-custom-font u-font-ubuntu u-text u-text-1" spellcheck="false">Our Project make
                                the difference! </h3>
                        </div>
                    </div>
                    <div class="u-align-center u-container-style u-layout-cell u-right-cell u-size-18 u-layout-cell-2">
                        <div class="u-container-layout u-valign-middle u-container-layout-2">
                            <a href="###"
                               class="u-active-palette-4-base u-border-0 u-btn u-btn-round u-button-style u-hover-palette-4-base u-palette-1-base u-radius-50 u-btn-1">Read
                                More</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="u-clearfix u-palette-1-dark-1 u-section-5" id="sec-ed1e">
    <div class="u-clearfix u-sheet u-valign-middle-xl u-valign-middle-xs u-sheet-1">
        <div class="u-palette-4-light-1 u-shape u-shape-circle u-shape-1"></div>
        <div class="u-clearfix u-layout-wrap u-layout-wrap-1">
            <div class="u-layout">
                <div class="u-layout-row">
                    <div class="u-align-left u-container-style u-layout-cell u-left-cell u-shape-rectangle u-size-23 u-white u-layout-cell-1">
                        <div class="u-container-layout u-valign-middle u-container-layout-1">
                            <p class="u-text u-text-1">Vitae congue mauris rhoncus aenean vel elit scelerisque.
                                Consequat nisl vel pretium lectus quam id leo in vitae. Dictum sit amet justo donec enim
                                diam vulputate.&nbsp;<br>
                                <br>Image from <a href="https://www.freepik.com/vectors/infographic"
                                                  class="u-active-none u-border-1 u-border-black u-border-no-left u-border-no-right u-border-no-top u-btn u-button-link u-button-style u-hover-none u-none u-text-body-color u-btn-1"
                                                  target="_blank">Freepik</a>
                            </p>
                            <a href="#"
                               class="u-btn u-btn-round u-button-style u-hover-palette-1-dark-1 u-palette-1-base u-radius-50 u-btn-2">learn
                                more</a>
                        </div>
                    </div>
                    <div class="u-align-center u-container-style u-image u-layout-cell u-right-cell u-size-37 u-image-1"
                         data-image-width="1200" data-image-height="1233" style="background-image: url("{% static 'images/gffgfg-min.jpg' %}")">
                        <div class="u-container-layout u-valign-top u-container-layout-2"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="u-align-left u-container-style u-group u-palette-4-light-1 u-group-1">
            <div class="u-container-layout u-valign-middle u-container-layout-3">
                <h3 class="u-custom-font u-font-pt-sans u-text u-text-palette-1-base u-text-2">Colocation and cloud
                    services offer businesses alternatives to housing their data</h3>
            </div>
        </div>
    </div>
</section>
<section class="u-clearfix u-palette-1-base u-section-6" id="sec-14cc">
    <div class="u-clearfix u-sheet u-valign-middle u-sheet-1">
        <div class="u-clearfix u-expanded-width u-layout-wrap u-layout-wrap-1">
            <div class="u-layout">
                <div class="u-layout-row">
                    <div class="u-container-style u-layout-cell u-left-cell u-size-30 u-layout-cell-1">
                        <div class="u-container-layout u-valign-top u-container-layout-1">
                            <h1 class="u-text u-text-1" spellcheck="false">High availability&nbsp;</h1>
                            <div class="u-palette-4-light-1 u-shape u-shape-circle u-shape-1"></div>
                        </div>
                    </div>
                    <div class="u-container-style u-layout-cell u-right-cell u-size-30 u-layout-cell-2">
                        <div class="u-container-layout u-valign-top u-container-layout-2">
                            <p class="u-text u-text-2">Egestas purus viverra accumsan in nisl nisi scelerisque eu
                                ultrices. Malesuada proin libero nunc consequat interdum varius sit amet mattis.
                                Pharetra pharetra massa massa ultricies mi quis hendrerit dolor. Proin nibh nisl
                                condimentum id venenatis a condimentum vitae sapien.&nbsp;</p>
                            <a href="###"
                               class="u-active-white u-btn u-btn-round u-button-style u-hover-white u-palette-4-light-1 u-radius-50 u-text-active-palette-1-base u-text-hover-palette-1-base u-text-palette-1-base u-btn-1">contact
                                us</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="u-align-center u-clearfix u-palette-1-base u-section-7" id="sec-5d76">
    <div class="u-clearfix u-sheet u-valign-middle-lg u-valign-middle-sm u-valign-middle-xs u-sheet-1">
        <div class="u-expanded-width u-palette-4-light-1 u-shape u-shape-rectangle u-shape-1"></div>
        <img class="u-align-left u-image u-left-0 u-image-1" data-image-width="1600" data-image-height="1000"
             src="{% static 'images/xsx.jpg' %}">
        <h2 class="u-text u-text-1">Hosting Datacenter</h2>
        <p class="u-text u-text-2">Pretium lectus quam id leo in vitae turpis. Mattis pellentesque id nibh tortor id.
            Nunc consequat interdum varius sit amet mattis vulputate enim nulla. Risus feugiat in ante metus dictum at
            tempor commodo. </p>
        <p class="u-text u-text-3">Image from <a href="https://www.freepik.com/vectors/infographic"
                                                 class="u-active-none u-border-1 u-border-no-left u-border-no-right u-border-no-top u-border-white u-btn u-button-link u-button-style u-hover-none u-none u-text-body-alt-color u-btn-1"
                                                 target="_blank">Freepik</a>
        </p>
        <a href="#"
           class="u-active-white u-border-0 u-btn u-btn-round u-button-style u-hover-white u-palette-4-light-1 u-radius-50 u-text-active-palette-1-base u-text-hover-palette-1-base u-text-palette-1-base u-btn-2">learn
            more</a>
    </div>
</section>
<section class="u-clearfix u-palette-1-base u-section-8" id="carousel_6c7c">
    <div class="u-clearfix u-sheet u-valign-middle-lg u-valign-middle-xs u-sheet-1">
        <div class="u-expanded-height-lg u-expanded-height-md u-expanded-width-sm u-expanded-width-xs u-palette-4-light-1 u-shape u-shape-rectangle u-shape-1"></div>
        <div class="u-clearfix u-layout-wrap u-layout-wrap-1">
            <div class="u-gutter-0 u-layout">
                <div class="u-layout-row">
                    <div class="u-container-style u-image u-layout-cell u-left-cell u-size-30 u-image-1"
                         data-image-width="1200" data-image-height="959" style="background-image: url('{% static 'images/b4f60df5-647e-b99f-a687-ec47c26aa869.jpg' %}')">
                        <div class="u-container-layout u-container-layout-1"></div>
                    </div>
                    <div class="u-align-center u-container-style u-layout-cell u-right-cell u-size-30 u-layout-cell-2">
                        <div class="u-container-layout u-container-layout-2">
                            <div class="u-expanded-width u-form u-form-1">
                                <form action="https://forms.nicepagesrv.com/v2/form/process"
                                      class="u-block-18ab-9 u-clearfix u-form-spacing-15 u-form-vertical u-inner-form"
                                      source="email"><!-- hidden inputs for siteId and pageId -->
                                    <div class="u-form-group u-form-name">
                                        <label for="name-76c6"
                                               class="u-form-control-hidden u-label u-label-1">Name</label>
                                        <input type="text" placeholder="Enter your Name" id="name-76c6" name="name"
                                               class="u-border-3 u-border-no-left u-border-no-right u-border-no-top u-border-white u-input u-input-rectangle"
                                               required="">
                                    </div><!-- always visible -->
                                    <div class="u-form-email u-form-group">
                                        <label for="email-76c6"
                                               class="u-form-control-hidden u-label u-label-2">Email</label>
                                        <input type="email" placeholder="Enter a valid email address" id="email-76c6"
                                               name="email"
                                               class="u-border-3 u-border-no-left u-border-no-right u-border-no-top u-border-white u-input u-input-rectangle"
                                               required="">
                                    </div>
                                    <div class="u-form-group u-form-message">
                                        <label for="message-76c6" class="u-form-control-hidden u-label u-label-3">Message</label>
                                        <textarea placeholder="Enter your message" rows="4" cols="50" id="message-76c6"
                                                  name="message"
                                                  class="u-border-3 u-border-no-left u-border-no-right u-border-no-top u-border-white u-input u-input-rectangle"
                                                  required=""></textarea>
                                    </div>
                                    <div class="u-align-center u-form-group u-form-submit">
                                        <a href="#"
                                           class="u-btn u-btn-submit u-button-style u-hover-palette-1-dark-1 u-palette-4-base u-btn-1">Submit</a>
                                        <input type="submit" value="submit" class="u-form-control-hidden">
                                    </div>
                                    <div class="u-form-send-message u-form-send-success"> Thank you! Your message has
                                        been sent.
                                    </div>
                                    <div class="u-form-send-error u-form-send-message"> Unable to send your message.
                                        Please fix errors then try again.
                                    </div>
                                    <input type="hidden" value="" name="recaptchaResponse">
                                    <input type="hidden" name="formServices" value="8698171f0f7279f2325c33025a484f76">
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<footer class="u-align-center u-clearfix u-footer u-grey-80 u-footer" id="sec-e3f5">
    <div class="u-clearfix u-sheet u-sheet-1">
        <p class="u-small-text u-text u-text-variant u-text-1">Sample text. Click to select the text box. Click again or double click to start editing the text.</p>
    </div>
</footer>
<section class="u-backlink u-clearfix u-grey-80">
    <a class="u-link" href="website-templates" target="_blank">
        <span>Free Website Templates</span>
    </a>
    <p class="u-text">
        <span>created with</span>
    </p>
    <a class="u-link" href="static-site-generator" target="_blank">
        <span>Static Site Generator</span>
    </a>.
</section>
{% endblock %}
